<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
</head>
<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <img src = "/images/logo-mercado-liebre.svg" alt = "Logo MercadoLiebre" width="100%">
            </div>
            
            <div class="buscador">
                <form action="" method="post">
                <input type="text" placeholder="Buscar productos, marcas" class = "boxbuscador">
                <button type="button"><i class="fas fa-search"></i></button>
            </form>
            </div>
            
            <p id="lema"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="menues">
            <nav class="site_navbar">
                <ul type = "none">
                    <li><a href = "" target = "_blank">Ofertas</a></li>
                    <li><a href = "" target = "_blank">Tiendas Oficiales</a></li>
                    <li><a href = "" target = "_blank">Vender</a></li>
                    <li><a href = "" target = "_blank">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="login_navbar">
                <ul type = "none">
                    <li><a href = "/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href = "/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href = "" target = "_blank">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <br>
        <div class = "burger-menu">
            <i class = "fa fa-bars burger"></i>
        </div>
        <br>
    
    </header>

    <main class="login">
        <form action="/" method="post">
            <div class="campo">
                <label for="usuario">Nombre de usuario</label>
                <input type="text" name="usuario" id="usuario" required>
            </div>
            <div class="campo">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" required>
            </div>
            <span class="feedback"></span>
            <div class="botones">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="item">
            <i class="fas fa-credit-card"></i>
            <p class="titulosfooter">Pagá con tarjeta o en efectivo</p>
            <p class="textofooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="item">
            <i class="fas fa-gift"></i>
            <p class="titulosfooter">Envío gratis desde $ 2.500</p>
            <p class="textofooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="item">
            <i class="fas fa-user-shield"></i>
            <p class="titulosfooter">Seguridad, de principio a fin</p>
            <p class="textofooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>        
        <p id="copy">Copyright © 2021 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>