* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto';        
    background-color: #ebebeb; 
}

header {
    background-color: #EAC926;
    color: #03264C;
    font-size: 12px;
}

    .buscador {
        margin-left: 15px;
    }

    .fa-search {
        padding: 3px;
        background-color: #ebebeb;
        border: 1px solid #666;
    }

    #lema {
        text-align: center;
    }

    .site_navbar {
        display: none;
        text-decoration: none;
    }

    .login_navbar {
        display: none;
        text-decoration: none;
    }

        .site_navbar a, .login_navbar a {
            text-decoration: none;
            color: #03264C;
        }

    .burger-menu {
        text-align: center;
    }

    .fa-bars {
        font-size: 20px;
        background-color: #1259c3;
        color: white;
        padding: 5px;
        border: 0.5px solid #1259c3;
        border-radius: 5px;
    }



main {
    margin: auto;
    width: 90%;    
}

    section {
        font-size: 24px;
    }

        article {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

            .imagen {
                background-color: white;
            }

            .camion {
                background-color: white;
                height: 0px;
            }

            .fa-truck {
                color: #39b54a;
                padding: 8px 6px;
                border: 1px solid #39b54a;
                border-radius: 50%;
                position: relative;
                left: 85%;
                top: -17px;           
            }

            .infoart {
                background-color: white;
                border-top: 1px solid #ebebeb;
                padding: 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-end;
            }
            
            .precio {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 5px;
                flex: 1 1 30%;
            }

            .descuentos {
                color: #39b54a;
                margin-top: 5px;
                margin-bottom: 5px;
                flex: 1 1 70%;
            }
            
            .descripciones {
                display: none;
                flex: 1 1 100%;
                font-weight: bold;
                text-align: left;
                margin-top: 12px;
                margin-bottom: 12px;
            }



footer {
    text-align: center;
    color: #666;
    font-size: 10px;
    background-color: white; 
}

    .titulosfooter {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 2px;
    }

    .textofooter {
        margin-top: 1px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .fa-credit-card {
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }

    .fa-gift {
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }

    .fa-user-shield {
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }

    #copy {
        text-align: left;
        font-size: 9px;        
    }



@media (min-width: 361px) {
        .site_navbar {
            display: block;
        }

        .login_navbar {
            display: block;
        }

        .burger-menu {
            display: none;
        }

    article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
        .descripciones {
            display: block;
        }
}

@media (min-width: 769px) {
        .site_navbar {
            display: block;
        }

        .login_navbar {
            display: block;
        }

        .burger-menu {
            display: none;
        }

    article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}